.content {
    margin-left: 10%;
    margin-right: 10%;
}

.search {
    font-size: 25pt;
    width: 150%;
}

mat-form-field {
    display: inline;
    position: relative;
    align-self: center;
}

.search-form {
    position: fixed;
    top: 30%;
    right: 45%;
}