<div class="content">

    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Populate CPEs
                </mat-panel-title>
            </mat-expansion-panel-header>

            <button mat-raised-button color="accent" (click)="populate()" [disabled]="cpesAvailable">Populate</button>
            <mat-progress-bar mode="indeterminate" *ngIf="loadingLoad"></mat-progress-bar>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Update local CVEs
                </mat-panel-title>
            </mat-expansion-panel-header>

            <button mat-raised-button color="accent" (click)="manualUpdate()">Update</button>
            <br><br>
            <mat-progress-bar mode="indeterminate" *ngIf="loadingUpdate"></mat-progress-bar>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Configure auto update
                </mat-panel-title>
            </mat-expansion-panel-header>


            <mat-slide-toggle [(ngModel)]="isCheckedUpdate" (change)="sliderChnage($event)">{{isCheckedUpdate ? 'Disable' : 'Enable'}}</mat-slide-toggle>
            <br><br>
            <mat-form-field *ngIf="isCheckedUpdate">
                <mat-label>Time</mat-label>
                <input matInput type="time" [(ngModel)]="time" value="time">
            </mat-form-field> &nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="accent" *ngIf="editable" (click)="activateAutoUpdate()">Save</button>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Configure mail alerts
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-slide-toggle checked disabled (change)="sliderChnageAlerts($event)">{{isCheckedAlerts ? 'Disable' : 'Enable'}}</mat-slide-toggle>

        </mat-expansion-panel>


    </mat-accordion>

</div>