.cve-card {
    display: grid;
    grid-template-columns: 10% 90%;
    width: 100%;
    padding: 2.5% 0% 3% 0%;
    margin-bottom: 0.15em;
    margin-left: 0.15em;
    margin-right: 0.15em;
}

.cve-card-content {
    display: grid;
    grid-column: 2;
    justify-content: center;
    align-content: left;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 2%;
}

.cve-text {
    display: inline;
}

.cve-text-red {
    display: inline;
    color: #FD504A;
}

.cve-text-yellow {
    display: inline;
    color: #F3F310;
}

.cve-text-green {
    display: inline;
    color: #069C33;
}

.lds-dual-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid grey;
    border-color: red transparent red transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}