<div class='content'>
    <img src="../../assets/404_do_it_wise.png">
    <button class="btn" mat-raised-button color="primary" [routerLink]="['/home']" routerLinkActive="active">
        BACK TO HOME
    </button>
</div>