<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">

            <a href="https://angular.io/"><img src="../../assets/angular-logo.svg" alt="angular logo"></a>

            <a href="https://nestjs.com/"><img src="../../assets/nestjs-logo.svg" alt="nestjs logo"></a>

            <a href="https://www.telerikacademy.com/alpha"><img class="telerik" src="../../assets/telerik-academy-alpha.svg" alt="telerik logo"></a>

            <a href="https://doitwise.com/en/"><img class="do-it-wise" src="../../assets/do-it-wise_logo.png" alt="tedo it wise logo"></a>
            <p>Made by
                <a href="https://gitlab.com/TDinev"> Todor Dinev</a> and
                <a href="https://gitlab.com/danielahristova"> Daniela Hristova</a>
            </p>
        </div>
    </div>
</footer>