<div class="whole-area">
    <div class="assignment-graph">
        <canvas id="assign">{{ assignmentChart }}</canvas>
    </div>
    <div class="severity-graph">
        <canvas id="severity">{{ severityChart }}</canvas>
    </div>
    <div class="product-vendor-graph">
        <canvas id="bar">{{ barChart }}</canvas>
    </div>
</div>