.whole-area {
    display: grid;
    grid-template-columns: 60% 30% 10%;
    grid-template-rows: 15% 35% 35% 15%;
    height: 83vh;
    width: 100%;
    
}

.assignment-graph {
    display: flex;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 1;
    justify-content: center;
    align-items: center
}

.severity-graph {
    display: flex;
    grid-row: 2;
    grid-column: 2;
    justify-content: center;
    align-items: center; 
    margin-bottom: 3em;;
}

.product-vendor-graph {
    display: flex;
    grid-row: 3;
    grid-column: 2;
    justify-content: center;
    align-items: center; 
    margin-top: 3em;
}

#assign {
    display: flex;
    height: 100%;
}