<div class="whole-area"> 
    <div class="first-row">
        <div class="alert">
            <span *ngIf="productExists > 0" class="success">
                Product Exists!
            </span>
            <span *ngIf="productExists === 0" class="fail">
                Product Doesn't Exist!
            </span>
        </div>
        <div class="alert">
            <span *ngIf="vendorExists > 0" class="success">
                Vendor Exists!
            </span>
            <span *ngIf="vendorExists === 0" class="fail">
                Vendor Doesn't Exist!
            </span>
        </div> 
    </div>
    <form class="form" #heroForm="ngForm">
        <mat-form-field class="product-field">
        <input 
            id="product"
            [(ngModel)]="product"
            matInput
            placeholder="Product Name"
            aria-label="Product"
            [matAutocomplete]="autop"
            name="product"
            [formControl]="productCtrl"
            required
            matTooltip="Type to filter the products list"
            matTooltipPosition="above"
            (blur)="checkIfProductExists(product)">
        <mat-autocomplete #autop="matAutocomplete">
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                <mat-option *ngFor="let product of filteredProduct | async" [value]="product">
                    <span>{{ product }}</span>
                </mat-option>
            </cdk-virtual-scroll-viewport>
        </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="vendor-field">
            <input
                id="vendor"
                [(ngModel)]="vendor"
                matInput
                placeholder="Vendor Name"
                aria-label="Vendor"
                [matAutocomplete]="autov"
                name="vendor"
                [formControl]="vendorCtrl"
                required
                matTooltip="Type to filter the vendors list"
                matTooltipPosition="above"
                (blur)="checkIfVendorExists(vendor)">
            <mat-autocomplete #autov="matAutocomplete">
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                <mat-option *ngFor="let vendor of filteredVendors | async" [value]="vendor">
                    <span>{{ vendor }}</span>
                </mat-option>
            </cdk-virtual-scroll-viewport>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="version-field">
            <input
                id="version"
                [(ngModel)]="version"
                matInput
                placeholder="Version"
                aria-label="Version"
                name="version"
                required>
        </mat-form-field>
    </form>
    <div class="third-row">
        <div class="button-container">
            <button type="submit" class="submit" [disabled]="!heroForm.form.valid || productExists===0 || vendorExists===0" (click)="checkIfCpeExists(vendor, product, version)">Create Product</button>
        </div>
    </div>    
