// .sidenav-container {
//     height: 100%;
// }
// .sidenav {
//     width: 180px;
// }
// .sidenav .mat-toolbar {
//     background: inherit;
// }
// .mat-toolbar {
//     display: grid;
//     grid-template-columns: 6% 25% 42% 20% 5%;
//     grid-template-rows: 100%;
//     width: 100%;
// }
// .logo {
//     grid-column-start: 2;
//     grid-column-end: 3;
//     justify-content: center;
//     padding-top: 3%;
//     width: 200px;
// }
img {
    height: 60px;
    margin-top: 10px;
}

.links {
    font-size: 22px;
    margin-top: 10px;
    cursor: pointer;
}

// .example-form {
//     display: block;
//     grid-column-start: 4;
//     grid-column-end: 5;
//     width: 100%;
// }
// .example-full-width {
//     font-size: 11pt;
//     width: 100%;
// }
// .search-button {
//     grid-column-start: 5;
//     grid-column-end: 6;
// }
// .hamburger-button {
//     height: 48px;
//     width: 48px;
//     font-size: 38px;
// }
.example-spacer {
    flex: 1 1 auto;
}