<mat-toolbar color="primary">

    <mat-toolbar-row>
        <span class="logo" *ngIf="!loggedIn" [routerLink]="['home']">
            <img src="../../../assets/do-it-wise_logo.png">
        </span>
        <span class="logo" *ngIf="loggedIn" [routerLink]="['dashboard']">
            <img src="../../../assets/do-it-wise_logo.png">
        </span> &nbsp;&nbsp;&nbsp;
        <div *ngIf="loggedIn; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <span><p class="links" [routerLink]="['dashboard']" routerLinkActive="active">Dashboard</p>
            </span> &nbsp;&nbsp;&nbsp;
            <span><p class="links" [routerLink]="['products']" routerLinkActive="active">Products</p>
            </span> &nbsp;&nbsp;&nbsp;
            <span><p class="links" [routerLink]="['products/new']" routerLinkActive="active">Add</p>
            </span> &nbsp;&nbsp;&nbsp;
            <span><p class="links" [routerLink]="['search']" routerLinkActive="active">Search</p>
            </span> &nbsp;&nbsp;&nbsp;
            <span><p  *ngIf="user?.role === 'Admin'" class="links" [routerLink]="['register']" routerLinkActive="active">New User</p>
            </span> &nbsp;&nbsp;&nbsp;
            <span><p *ngIf="user?.role === 'Admin'" class="links" [routerLink]="['admin']" routerLinkActive="active">Administration</p>
            </span>

            <span class="example-spacer">
        </span>
            <span><button mat-raised-button color="accent" (click)="logOut()">Log Out</button></span>
        </ng-template>
        <ng-template #elseBlock>
            <span class="example-spacer">
            </span>
            <span><button mat-raised-button color="accent" (click)="logIn()">Log In</button></span>
        </ng-template>
    </mat-toolbar-row>

</mat-toolbar>