.register {
    position: fixed;
    top: 20%;
    left: 30%;
    height: 50%;
    width: 40%;
}

button {
    float: right;
}

::ng-deep .red-snackbar {
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(247, 46, 46);
    margin-bottom: 80px !important;
}