.content {
    display: grid;
    grid-template-columns: 32.5% 32.5% 35%;
    grid-template-rows: 50px auto;
    width: 100%;
    margin-bottom: 70px;
}

.products-buttons {
    display: grid;
    grid-template-columns: 35% 32.5% 32.5%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.product-but {
    font-size: 80%;
    margin: 0.15em 0 0.15em 0.15em;
}

.product-but-new {
    margin: 0.15em 0 0.15em 0.15em;
    font-size: 1em;
    background-color: #F3F310;
    color: #000000
}

.cpe-buttons {
    display: grid;
    grid-template-columns: 32.5% 32.5% 35%;
    grid-column: 2;
    grid-row: 1;
}

.cve-buttons {
    display: grid;
    grid-template-columns: 35% 32.5% 32.5%;
    grid-column: 3;
    grid-row: 1;
}

.invisible {
    visibility: hidden;
}

.cpe-cancel-button {
    display: grid;
    grid-column: 3;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin: 0.15em 0 0.15em 0.15em;
    background-color: #CF0F0F;
}

.cve-link-button {
    margin: 0.15em 0 0.15em 0.15em;
    font-size: 1em;
    background-color: #F3F310;
    color: #000000
}

.products {
    width: 100%;
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    overflow-y: auto;
}

.product-card {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    padding: 2.5% 0% 3% 0%;
    margin-bottom: 0.15em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

.card-content {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    align-content: left;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 2%;
}

.actions {
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.product-card-delete-button {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.cpe-not-assigned {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    align-items: center;
    color: #FD504A;
}

.cpe-assigned {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    align-items: center;
    color: #069C33;
}

.cpe-assigned-icon {
    display: flex;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}

.text {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 100%;
    width: 100%;
    max-height: 2.38em;
    /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
    white-space: pre-line;
}

.cpes {
    width: 100%;
    grid-column: 2;
    grid-row: 2;
    height: 100vh;
    overflow-y: auto;
}

.cpe-card {
    display: grid;
    grid-template-columns: 85% 15%;
    width: 100%;
    padding: 2.5% 0% 3% 0%;
    margin-bottom: 0.15em;
    margin-left: 0.15em;
    margin-right: 0.15em;
}

.cpe-card-content {
    display: grid;
    grid-column: 1;
    justify-content: center;
    align-content: left;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 2%;
}

.cpe-link-button {
    display: flex;
    grid-column: 2;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0.15em;
    color: #069C33;
}

.link-icon {
    display: flex;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}

.single-product {
    display: grid;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
    height: calc(100vh - 190px);
    overflow-y: auto;
}

.single-product-card {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 15% 85%;
    width: 99%;
    padding: 2.5% 0% 3% 0%;
    margin-right: 1em;
    margin-left: 0.15em;
    padding: 0;
}

.single-product-card-content {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    justify-content: left;
    align-content: left;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 2%;
    padding-top: 1%;
}

.single-text {
    display: flex;
    font-size: large;
}

.single-actions {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-rows: 33.3% 33.3% 33.4%;
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.single-product-close-button {
    display: flex;
    grid-row: 1;
    grid-column: 2;
    justify-content: center;
    font-size: 0.75em;
    color: #FD504A;
}

.single-product-unlink-button {
    display: flex;
    grid-row: 2;
    grid-column: 2;
    justify-content: center;
    font-size: 0.75em;
    color: #F3F310;
}

.single-product-update-button {
    display: flex;
    grid-row: 3;
    grid-column: 2;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    color: #069C33;
}

.cves-link-button {
    display: flex;
    grid-row: 3;
    grid-column: 1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 0.75em;
    color: #069C33;
}

::-webkit-scrollbar {
    // Width of vertical scroll bar
    width: 8px;
    // Height of horizontal scroll bar
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
}

.cves {
    width: 100%;
    grid-column: 3;
    grid-row: 2;
    height: 100vh;
    overflow-y: auto;
}

.cve-card {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 50% 50%;
    width: 100%;
    cursor: pointer;
    padding: 2.5% 0% 3% 0%;
    margin-bottom: 0.15em;
    margin-left: 0.15em;
    margin-right: 0.15em;
}

.cve-checkbox {
    display: grid;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #BEF180;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.1 !important;
    background-color: #069C33!important;
}

.cve-card-content {
    display: grid;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-content: left;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 2%;
}

.cve-text {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 100%;
    max-height: 3.54em;
    /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
    white-space: pre-line;
}

.cve-text-red {
    display: inline;
    color: #FD504A;
}

.cve-text-yellow {
    display: inline;
    color: #F3F310;
}

.cve-text-green {
    display: inline;
    color: #069C33;
}

.cves-in-single {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    height: 100vh;
    overflow-y: auto;
}

.updated-cve-checkbox {
    display: flex;
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: row;
}

.updated-cve-single-actions {
    display: grid;
    grid-row: 2;
    grid-column: 1;
    justify-content: center;
    align-content: left;
}

.updated-cve-link-button {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    color: #069C33;
}

::ng-deep .red-snackbar {
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(247, 46, 46);
    margin-bottom: 80px !important;
}

::ng-deep .green-snackbar {
    font-size: x-large;
    font-weight: bold;
    background-color:  #BEF180;
    margin-bottom: 80px !important;
}

.lds-dual-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid grey;
    border-color: red transparent red transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}