html {
    background-color: #121212;
}


/* background-image: url('./assets/232746.jpg');
    background-size: 100%; */


/* } */

body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}