<mat-card class="delete-card">
    <mat-card-title class="card-title">
        <span class="title">Are you sure you would like to delete this product?</span>
    </mat-card-title>
    <mat-card-actions class="actions">
        <button (click)="deleteProduct()"
                mat-raised-button 
                color="warn">
            Delete Product
        </button>
        <span>&nbsp;&nbsp;</span>
        <button (click)="closeProductDialog()"
                mat-raised-button 
                color="accent">
            Cancel
        </button>
    </mat-card-actions>
</mat-card>