<!-- <div class="whole-area">
    <div class="inactive-part">
    </div>
    <div class=" active-part "> -->
<div class="login">
    <mat-card class="my-card">
        <mat-card-content>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" name="email" ngModel required #email="ngModel">
                </mat-form-field>
                <br>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" name="password" ngModel required #password="ngModel">
                </mat-form-field>
                <br><br>
                <br><br>
                <br><br>
                <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid">
                            LOGIN
                        </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<!-- </div>
</div> -->