<div *ngIf="showLoader" class="lds-dual-ring"></div>
<div class="content">
    <div class="products-buttons">
        <button 
            class="product-but-new"
            mat-raised-button
            [routerLink]="['../new']"
            routerLinkActive="active">
            Add Product
        </button>
        <button 
            class="product-but"
            mat-raised-button
            [routerLink]="['../assigned-products']"
            routerLinkActive="active">
            Assigned
        </button>
        <button 
            class="product-but"
            mat-raised-button
            [routerLink]="['../unassigned-products']"
            routerLinkActive="active">
            Not Assigned
        </button> 
    </div>
    <div class="products">
        <mat-card 
            class="product-card"
            matRipple
            *ngFor="let product of products">
            <div 
                class="cpe-not-assigned"
                *ngIf="product?.cpe === null || product?.cves.length === 0">
                <mat-icon class="cpe-assigned-icon" aria-hidden="false" aria-label="Warning">warning</mat-icon>
            </div>
            <div 
                class="cpe-assigned"
                *ngIf="product?.cpe !== null && product?.cves.length !== 0">
                <mat-icon class="cpe-assigned-icon" aria-hidden="false" aria-label="Warning">check_circle</mat-icon>
        </div>
            <mat-card-content 
                class="card-content"
                [routerLink]="['/products/', product?.id]">
                <span class="text">Product: {{product?.product}}</span>
                <span class="text">Vendor: {{ product?.vendor }}</span> 
                <span class="text">Version: {{ product?.version }}</span> 
            </mat-card-content>
            <mat-card-actions class="actions">
                <button 
                    matTooltip="Delete Product"
                    [matTooltipPosition]="'right'"
                    class="product-card-delete-button"
                    mat-mini-fab color="primary"
                    aria-label="Delete Post icon button"
                    (click)="openDeleteProductDialog(product?.id)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>